<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chris Baily</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-dark btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                CHRIS BAILY
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Moving Paintings</a>
                    <ul>
                        <li ><a href="#portfolio"  data-target="#carousel" data-slide-to="0" onclick=$("#menu-close").click();>Sisters</a></li>
                        <li ><a href="#top" data-target="#carousel" data-slide-to="1" onclick=$("#menu-close").click();>Daydreaming</a></li>
                    </ul>
                        <li ><a href="#portfolio"  data-target="#carousel" data-slide-to="2" onclick=$("#menu-close").click();>Honeymoon</a></li>
                        <li ><a href="#top" data-target="#carousel" data-slide-to="3" onclick=$("#menu-close").click();>Rejoicing</a></li>
                    </ul>
            </li>

            <li>
                <a href="#process" onclick=$("#menu-close").click();>Process</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#exhibitions" onclick=$("#menu-close").click();>Exhibitions</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
            </li>
            <li>
                <a href="http://art.chrisbaily.com" onclick=$("#menu-close").click();>Collections</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
        <div id="carousel" class="carousel slide lazy" data-ride="carousel" data-interval="false">
        <!-- <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active">Sisters</li>
        <li data-target="#carousel" data-slide-to="1">Grandparents</li>
        </ol> -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
             <div align="center">
                <video autoplay muted loop>
                     <source src="http://lightfieldcreative.com/video/sisters.mp4" type="video/mp4">
                     Your browser does not support the video tag.
                </video>
            </div>
            <div class="carousel-caption">
                <h1>Sisters</h1>
                <p>Mixed Media on Linen with Video<br>48x24 | 2016</p>
            </div>
        </div>
        <div class="item">
            <div align="center">
                <video autoplay muted loop>
                     <source src="http://lightfieldcreative.com/video/daydreaming.mp4" type="video/mp4">
                     Your browser does not support the video tag.
                </video>
            </div>
            <div class="carousel-caption">
                <h1>Daydreaming</h1>
                <p>Mixed Media on Canvas with Video<br>120x36 | 2015</p>
            </div>
        </div>         
        <div class="item">
            <div align="center">
                <video autoplay muted loop>
                     <source src="http://lightfieldcreative.com/video/honeymoon.mp4" type="video/mp4">
                     Your browser does not support the video tag.
                </video>
            </div>
            <div class="carousel-caption">
                <h1>Honeymoon</h1>
                <p>Acrylic on Canvas with Video<br>24x36 | 2016</p>
            </div>
        </div>
        <div class="item">
            <div align="center">
                <video autoplay muted loop>
                     <source src="http://lightfieldcreative.com/video/rejoicing.mp4" type="video/mp4">
                     Your browser does not support the video tag.
                </video>
            </div>
            <div class="carousel-caption">
                <h1>Rejoicing</h1>
                <p>Acrylic on Canvas with Video<br>72x36 | 2016</p>
            </div>
        </div>
        <a id="arrow" class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a id="arrow" class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
        </div>
    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="process" class="services bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Process</h2>
                    <hr class="small">
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-2 col-md-offset-2">
                    <img class="img-process img-responsive" src="assets/composition.jpg">
                </div>
                <div class="col-md-6">
                        <h4><i class="fa fa-desktop fa-fw"></i> Compose Digital Collage</h4>
                        <p>The pieces are initially composed in a digital format using a variety of original photographs, videos, and found images. The goal is to use the familiar and beautiful to draw the viewer into a conversation about finding balance and joy within the chaos of modern life. Migrating birds, isolated figures, clouds, waves are used as visual language.</p>
                </div>
            </div>
            <hr class="small">
            <div class="row text-left">
                <div class="col-md-2 col-md-offset-2">
                    <img class="img-process img-responsive" src="assets/vienna-sisters.jpg">
                </div>
                <div class="col-md-6">
                        <h4><i class="fa fa-paint-brush fa-fw"></i> Paint Still Image</h4>
                        <p>The painting is done using the digital as source material. Rather than using the projector to trace shapes or build out the composition, the the composition is built up by eye and measurements. This avoids the traced, flat look that occurs if one uses </p><p>To build up richness, it starts with an underpainting and slowly builds in detail, only where appropriate to add focus. Often, there are two or three completely different paintings under the final image that help to build up texture.</p>
                </div>
            </div>
            <hr class="small">
            <div class="row text-left">
                <div class="col-md-2 col-md-offset-2">
                    <img class="img-process img-responsive" src="assets/after-effects-example.png">
                </div>
                <div class="col-md-6">
                        <h4><i class="fa fa-video-camera fa-fw"></i> Re-work Video and Painting Simultaneously</h4>
                        <p>Once the painting is close to done, it can be moved to the projector wall to begin building up the motion portion using video editing software. This process combines as many as 15 to 20 layers to create the finished piece. Drawing from a large collection of original and found video, the moving images are used to provide texture and shading to the pieces, and to show tha passing of time. THe painting is then worked back into to bring the two components together.</p>
                </div>
            </div>
            <hr class="small">
            <div class="row text-left">
                <div class="col-md-2 col-md-offset-2">
                    <img class="img-process img-responsive" src="assets/in-gallery.jpg">
                </div>
                <div class="col-md-6">
                        <h4><i class="fa fa-sliders fa-fw"></i> Gallery Install</h4>
                        <p>Installation was one of the primary challenges of this process. There are significant technical barriers to installing a video that can loop indefinitely and can be flexibly positioned on the wall.</p>
                        <p>A custom application was coded by the artist that allows one to adjust size, position, perspective, and rotation, and then seamlessly loop the video. This allows the work to be on display, uninterrupted, for a month long show</p>
                </div>
            </div>
            <hr class="small">
            <div class="row text-left">
                <div class="col-md-2 col-md-offset-2">
                    <img class="img-process img-responsive" src="assets/home-install.jpg">
                </div>
                <div class="col-md-6">
                        <h4><i class="fa fa-video-camera faa-fw"></i> Home Install</h4>
                        <p>For permanent installation, the painting, projector and a micro-computer are set up, along with a portable keyboard and trackpad. This way the collector can leave the projector off day to day, and then turn it on for the full experience</p>
                </div>
            </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left col-md-offset-2">
                    <h2 class="text-center">About the Artist</h2>
                    <hr class="small">
                  <p><img class="img-portfolio img-responsive" src="assets/profile-pic.jpg" width="100px" height="100px" style="float:left; margin:0 20px 20px 0;"> 
Chris Baily was born in 1981 outside of Washington DC, and now lives and works in Brooklyn, New York. His love of art began early, and in 1997 he enrolled in the Visual Art Center in Silver Spring, a rigorous program designed to teach the technical fundamentals of painting and drawing. While there, Chris was inspired by the investigation of mortality and life cycles. His series of animals in varying states of decay earned him a YoungArts award, a Presidential Scholar award, and the opportunity to show at the Smithsonians National Portrait Gallery</p> 

<p>Chris went on to study at Cornell University for his BFA. In Ithaca, he began experimenting with video projection. He was fascinated by the way projected light on canvas creates a richness and texture that blends the fluidity of video with the meditative experience of viewing a painting.</p>

<p>He began to work with subtle motion: a blinking stoplight, the flash of cars alongside a late night train. His goal was to capture true stillness - the feeling of time passing while the world remains at rest. In 2002, however, digital video and projection were still a relatively unevolved technology. Render times and bulky projectors made it difficult to conduct iterative exploration</p>

<p>Chris began a career in Experience Design, designing and building web applications and digital products. Learning how to code and In 2013, Chris began painting again in earnest, and the intervening advances in projector technology along with the skills learned from coding digital products allowed him to finally achieve the results he'd imagined a decade earlier.</p>

<p>Chris has taken these investigations of stillness, silence and beauty and begun to deconstruct and rearrange them. Migrating birds, passing clouds, waves in the ocean - are indications of time as the metronome for our shared reality. He pulls these elements in to create visual spaces that have an inner logic and dimension that highlights the surreality of the composition. He then uses looped videos to capture subtle movements and achieve an uncanny otherness, a meditative quality that speaks to a deeper spirituality and transcendence</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="exhibitions" class="portfolio bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Exhibitions</h2>
                    <hr class="small">
                    <h3>Lucid Moments</h3>
                    <p class="date-time"><i class="fa fa-map-marker fa-fw"></i> Bushwick, NY &ensp; <i class="fa fa-calendar-o fa-fw"></i> March 2015 </p>
                    <p>Solo show at the Parenthesis Art Space. Featured <i>Daydreaming</i>, and <i>Daytona, 2005</i> and the <i>Birds</i> collection.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Christine Minas Fine Art at The Untitled Space</h3>
                    <p class="date-time"><i class="fa fa-map-marker fa-fw"></i> New York, NY &ensp; <i class="fa fa-calendar-o fa-fw"></i> November 2014 </p>
                    <p>Group show at the Untitled Space also featuring the work of Gentleman's Game, Rachel Mueler, and Linda Lee Nicholas</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Sleep of Uncertainty</h3>
                    <p class="date-time"><i class="fa fa-map-marker fa-fw"></i> New York, NY &ensp; <i class="fa fa-calendar-o fa-fw"></i> July 2014 </p>
                    <p>Solo show at the Untitled Space.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Footer -->
    <footer id="contact" style="background:#efefef;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Chris Baily</strong>
                    </h4>
                    <p>Brooklyn, NY</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:chrbaily@gmail.com">chrbaily@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/Christopher.N.Baily"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/ChrisBaily/"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://instagram.com/ChrisBaily/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Chris Baily 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/isInViewport.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>

    // Pause and Play video when in viewport
    $(window).scroll(function() {
        $('video').each(function(){
            if ($(this).is(":in-viewport")) {
                $(this)[0].play();
            } else {
                $(this)[0].pause();
            }
        })
    });
    $('#carousel').on('slid.bs.carousel', function (e) {
            $('video').each(function(){
            if ($(this).is(":in-viewport")) {
                $(this)[0].play();
            } else {
                $(this)[0].pause();
            }
        })
    });

    // Direct Links to Carousel 
    

    $( document ).ready(function() {


    var url = window.location.href;
    var slide = url.substring(url.lastIndexOf('/')+1); // 4

    // Remove the trailing slash if necessary
    if( slide.indexOf("/") > -1 ) { 
        var slideRmvSlash = slide.replace('/','');
        slide = parseInt(slideRmvSlash);
    }

    $("#carousel").carousel( slide );

    
    });

    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);


    </script>


</body>

</html>
